.header_container {
  display: grid;
}

.me {
  margin-top: 10rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.me img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0px 5px 10px 0px;
  color: black;
  transition: var(--transition);
}

.me img:hover {
  width: 15.5rem;
  height: 15.5rem;
}

h3 {
  justify-content: center;
}

.title {
  transition: var(--transition);
}

.title:hover {
  text-shadow: 2px 10px 5px #000;
}

@media screen and (max-width: 1024px) {
  .me img {
    width: 10rem;
    height: 10rem;
  }

  .me img:hover {
    width: 10.5rem;
    height: 10.5rem;
  }

  .me {
    left: 1rem;
  }

  .title {
    font-size: 0.8rem;
  }
}

/*========== MEDIA QUERIES (SMALL DEVICES) ============*/
@media screen and (max-width: 600px) {
  .me img {
    width: 10rem;
    height: 10rem;
  }

  .me img:hover {
    width: 10.5rem;
    height: 10.5rem;
  }

  .me {
    left: 1rem;
  }

  .title {
    font-size: 0.7rem;
  }
}
