@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg: #0c272d;
  --color-bg-variant: #17574c;
  --color-primary: #12d382;
  --color-primary-variant: #32ada3;
  --color-white: #fff;
  --color-light: rgba(188, 187, 187, 0.8);
  --color-icon: rgb(59, 221, 242);

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  background: var(--color-bg);
  color: var(--color-white);
}


html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

section {
  margin-top: 8rem;
  padding-top: 3rem;
}

h1 {
  font-size: 2.3em;
}

h2 {
  font-size: 1.3em;
  color: var(--color-light);
}

h3 {
  font-size: 1em;
  color: var(--color-primary);
}

a {
  color: var(--color-primary);
}

a:hover {
  color: var(--color-white);
}

.titulo{
  text-align: center;
  margin-bottom: 3rem;
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
}

/*========== MEDIA QUERIES (MEDIUM DEVICES) ============*/
@media screen and (max-width: 1024px) {
  .container {
      width: var(--container-width-md);
  }

  section {
      margin-top: 6rem;
  }
}

/*========== MEDIA QUERIES (SMALL DEVICES) ============*/
@media screen and (max-width: 600px) {
  .container {
      width: var(--container-width-sm);
  }

  section {
      margin-bottom: 2rem;
  }
}